bleach==3.2.1
boto3==1.9.170
botocore==1.12.253
certifi==2020.11.8
chardet==3.0.4
docutils==0.15.2
idna==2.10
jmespath==0.10.0
packaging==20.7
pipdeptree==1.0.0
pkginfo==1.6.1
Pygments==2.7.2
pyparsing==2.4.7
python-dateutil==2.8.1
readme-renderer==28.0
requests==2.25.0
requests-toolbelt==0.9.1
s3transfer==0.2.1
six==1.15.0
tqdm==4.54.0
twine==1.15.0
urllib3==1.25.11
webencodings==0.5.1
